<%- model_class = PrizesCountry -%>
<div class="page-header">
  <h1><%=t '.title', :default => 'Country Wise Prize' %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:prize_category) %></th>
      <th><%= model_class.human_attribute_name(:country_id) %></th>
      <th>Country ID</th>
      <th><%= model_class.human_attribute_name(:amount) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
    </tr>
  </thead>
  <tbody>
    <% @country_specific_prizes.each do |country_specific_prize| %>
      <tr>
        <td><%= country_specific_prize.id%></td>
        <td><%= country_specific_prize.prize_category.try(:title) %></td>
        <td><%= country_specific_prize.country.try(:name) %></td>
        <td><%= country_specific_prize.country.id %></td>
        <td><%= country_specific_prize.amount %></td>
        <td><%=l country_specific_prize.created_at %></td>
        <td>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>
