<%= form_for @user, :html => { :class => "form-horizontal user" } do |f| %>

  <% if @user.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :nickname, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :nickname, :class => 'form-control' %>
    </div>
    <%=f.error_span(:nickname) %>
  </div>
  <div class="form-group">
    <%= f.label :email, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :email, :class => 'form-control' %>
    </div>
    <%=f.error_span(:email) %>
  </div>
  <div class="form-group">
    <%= f.label :first_name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :first_name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:first_name) %>
  </div>
  <div class="form-group">
    <%= f.label :last_name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :last_name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:last_name) %>
  </div>
  <div class="form-group">
    <%= f.label :country_id, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select :country_id, options_for_countries(@user.country_id),{} ,:class => 'form-control' %>
    </div>
    <%=f.error_span(:country_id) %>
  </div>
  <div class="form-group">
    <%= f.label :date_of_birth, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :date_of_birth, :class => 'form-control' %>
    </div>
    <%=f.error_span(:date_of_birth) %>
  </div>
  <div class="form-group">
    <%= f.label :language, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.select :language,options_for_languages(@user.language),{}, :class => 'form-control' %>
    </div>
    <%=f.error_span(:language) %>
  </div>
  <div class="form-group">
    <%= f.label :secret_code, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :secret_code, :class => 'form-control' %>
    </div>
    <%=f.error_span(:secret_code) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                users_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
