<p id="notice"><%= notice %></p>

<p>
  <strong>References:</strong>
  <%= @suggestion.references %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @suggestion.subject %>
</p>

<p>
  <strong>Description:</strong>
  <%= @suggestion.description %>
</p>

<%= link_to 'Edit', edit_suggestion_path(@suggestion) %> |
<%= link_to 'Back', suggestions_path %>
